{{ define "header" }}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/img/icon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Weather Tracker
        </a>
        {{ if $login := .Login }}
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3">{{ $login }}</span>
            <form action="/auth/sign-out" method="POST">
                <button class="btn btn-outline-danger" type="submit">Sign out</button>
            </form>
        </div>
        {{ end }}
    </div>
</nav>
{{ end }}
